.Nav .NavItem a {
  color: rgb(46, 46, 46);
  text-decoration: none;
  font-weight: 600;
  padding: 1rem;
}
.Nav ul {
  list-style-type: none;
  display: flex;
}
.NavItem a {
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  color: rgba(239, 233, 233, 0.703);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  transition: all 1s;
  position: relative;
}
.NavItem a:hover:after {
  width: 100%;
}
.NavItem a:hover:before { 
  width: 100%;
}
.NavItem a:after {
  content: "";
  bottom: -5px;
  left: 0;
  position: absolute;
  background-color: #b929a8;
  height: 4px;
  width: 0;
  transition: all 0.5s;
}
.NavItem a:before {
  content: attr(data-name);
  position: absolute;
  bottom: -4px;
  left: 0;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
  text-transform: uppercase;
  width: 0%;
  overflow: hidden;
  transition: all 0.5s;
}
.NavItem .active {
  color: black;
  transition: all 0s;
}
.NavItem a.active:after {
  content: "";
  left: 0;
  position: absolute;
  background-color: rgb(21, 104, 148);
  height: 4px;
  width: 100%;
}
.NavItem a.active:hover:before {
  width: 0;
  transition: all 0s;
}
.NavItem a:first-child {
  animation: menu-animation 0.5s;
}
.NavItem a:nth-child(2) {
  animation: menu-animation 1s;
}
.NavItem a:nth-child(3) {
  animation: menu-animation 1.5s;
}
.NavItem a:nth-child(4) {
  animation: menu-animation 2s;
}
.NavItem a:nth-child(5) {
  animation: menu-animation 2.5s;
}

@keyframes menu-animation {
  from {
    opacity: 1;
    transform: translate(0, 200%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media (max-width: 620px) {
  .NavItem a {
    border-bottom: none;
    border-right: 5px solid transparent;
  }
}
